# .gitignore
# Ambiente virtual
venv/
.env

# Build e distribuição
build/
dist/
*.spec

# Arquivos do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log
*.txt

# Arquivos executáveis
*.exe

# Arquivos temporários
.DS_Store
Thumbs.db
# Arquivos de mídia grandes
exemplos/
exemplos_organizados/
distribuicao/
dist/
*.mp4
*.mov
*.avi
*.mkv